.container {
  background-color: var(--light);
  padding: 16px;
  border-radius: 8px;
}

.container:hover {
  /* cursor: pointer; */
  transition: all 0.3s;
  -webkit-box-shadow: 0px 2px 15px var(--ring-color);
  -moz-box-shadow: 0px 2px 15px var(--ring-color);
  box-shadow: 0px 2px 15px var(--ring-color);
}

.calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > h1 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 26px 0;
}

.eventSession {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardEvent {
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #f3f4f6; 
  border-top-width: 4px;
}

.cardEvent:nth-child(odd) {
  border-top-color:var(--backgroung); 
}

.cardEvent:nth-child(even) {
  border-top-color: var(--background-hover);
}

.cardEvent > p {
  margin-top: 8px;
  color: var(--title-gray);
  font-size: 0.875rem;
}

.cardDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardDescription > h1{
    font-weight: 600;
    font-size: 1.7rem;
    color: var(--gray);
}

.cardDescription >p{
    color: var(--ring-color); 
    font-size: 0.75rem;
}
