.container{
    display: flex; 
    gap: 1rem; 

}

.buttonSignOut{
    color: rgb(2 132 199);
}

.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    color: var(--light);
    background-color: var(--backgroung);
    transition: all 0.3s;
}

.loginContainer:hover{
    background-color: var(--background-hover);
    cursor: pointer;
    transition: all 0.3s;
}