:root {
  --dark: #000000;
  --light: #ffffff;
  --title-gray: #9ca3af;
  --gray: #4B5563;
  --labels: #6b7280;
  --ring-color: #D1D5DB;
  --gray-100: #92969e2a;
  --backgroung: #4762ff;
  --background-hover: #001ea6;
  --mediam-blue: #374bfc;
  --card-blue: #374bfc94;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

.container {
  height: 100vh;
  display: flex;
}

.left {
  width: 14%;
  padding: 1rem;
}

.right {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  width: 86%;
  background: #f7f8fa;
}

.link{
  display: flex; 
  gap: 0.5rem; 
  justify-content: center; 
  align-items: center; 
  text-decoration: none;
  list-style-type: none;
  color: var(--dark);
}

.name{
  display: none;
  font-weight: 700; 
}

@media (prefers-color-scheme: dark) {
  body {
    gap: 0;
  }
}

@media (min-width: 768px) {
  .left {
    width: 8%;
  }

  .right{
    width: 92%;
  }
}
@media (min-width: 1024px) {
  .left {
    width: 16%;
  }

  .right{
    width: 84%;
  }

  .link{
    justify-content: flex-start; 
  }

  .name{
    display: block; 
    font-weight: 700; 
  }
}
@media (min-width: 1280px) {
  .left {
    width: 14%;
  }
  .right{
    width: 86%;
  }
}
